/* Import local fonts */
@font-face {
  font-family: "Geist";
  src: url("./fonts/GeistMono-Regular.woff2") format("woff2"),
    url("./fonts/GeistMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./fonts/GeistMono-Bold.woff2") format("woff2"),
    url("./fonts/GeistMono-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

:root {
  --padding: 22px;
}

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font size and family for the document */
body {
  height: 100vh;
  font-family: "Geist", sans-serif;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  color: #333;
  background-color: #f3f3f3;
  animation: fadeIn 1s forwards, blurIn 1s forwards;
}

/* Style for headings */
h1 {
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.5px;
  font-family: "Geist", sans-serif;
  font-weight: 800;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: bold;
}

/* Style for paragraphs */
p {
  margin-bottom: 1rem;
}

/* Style for links */
a {
  color: black;
  text-decoration: underline;
  transition: color 0.33s ease, transform 0.33s ease;
}

a:hover {
  color: #007bff;
  transform: translateY(-2px);
}

/* Style for lists */
ul,
ol {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

/* Style for images */
img {
  max-width: 100%;
  height: auto;
}

/* Style for buttons */
button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boilerplate {
  border: 1px solid;
  background-color: white;
  z-index: 5;
  font-weight: 600;
  font-size: 18px;
  width: fit-content;
  padding: 24px 28px;
  border-radius: 3px;
}

.description {
  margin-top: 12px;
  font-size: 12px;
  width: 44ch;
  font-family: "Geist", sans-serif;
  font-weight: 400;
}

.follow {
  display: inline-block;
  font-size: 14px;
  background-color: black;
  color: white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: var(--padding);
  padding-right: var(--padding);
  width: fit-content;
  transition: 0.33s ease;
  transform: translateY(-100%); /* Start above the boilerplate */
}

.follow.drop-down {
  animation: dropDown 0.9s forwards;
}

@keyframes dropDown {
  to {
    opacity: 1;
    transform: translateY(0); /* Drop down to its final position */
  }
}

.follow:hover {
  padding-left: calc(var(--padding) + 5px);
  padding-right: calc(var(--padding) + 5px);
  transition: 0.33s ease;
}

.follow a {
  color: white;
  text-decoration: none;
}

.full-viewport {
  display: flex;
  flex-direction: column;
  padding: 14px;
  min-height: 100vh;
  max-width: 100%;
}

.logo {
  width: 100px;
  color: black;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

/* Basic styling for a terminal look */
.terminal {
  white-space: nowrap;
  height: 1.2em; /* Adjust this value based on your font size */
}

/* START - Blinking underscore cursor animation */
.cursor {
  display: inline;
  animation: blink 0.7s infinite;
}

/* terminal animations */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* END - Blinking underscore cursor animation */

/* Fade-in and blur-in animations */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes blurIn {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0);
  }
}
